@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>APP_ENVIRONMENT is @Environment.GetEnvironmentVariable("APP_ENVIRONMENT")</p>
    <ul>
        @foreach (System.Collections.DictionaryEntry de in Environment.GetEnvironmentVariables())
        {
            <li>@de.Key = @de.Value</li>
        }
    </ul>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
